.minor{
    size: 10px;
}

.indexbk{
    background: url(../img/Fondo\ Index\ perfect.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.contactobk{
    background: url(../img/Fondo\ Contacto.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}


.productosbk{
    background: url(../img/Fondo\ productos.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}